/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: url(Picture/redOrangeBg.jpg);
  display: flex;
  align-content: center;
  flex-direction: column;
  padding-top: 40px;
}

.title {
  text-align: center;
  color: aliceblue;
  font-family: "Stick No Bills", sans-serif;
  font-size: 60px;
}

.voteTable {
  background-color: black;
  border-radius: 10px;
  margin: 35px;
  padding: 25px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  color: white;
}

.name {
  text-transform: uppercase;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  color: brown;
  margin: 10px 0;
}

.person {
  /* margin: 20px 0 10px 0; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 20px;
}

.voteTable a:link {
  color: darkkhaki;
}

.voteTable a:visited {
  color: darkgoldenrod;
}

.voteTable a:hover {
  color: gold;
}

img {
  max-width: 300px;
  border: 6px solid burlywood;
  border-radius: 5px;
  transition: transform 1s;
}

.person img:hover {
  transform: scale(1.5);
}

.like {
  margin-top: 20px;
  background-color: #f2f2f2;
  color: #000000;
  border: 5px solid #f2f2f2;
  border-radius: 5px;
  width: 20%;
  align-self: center;
  font-family: "Abel", sans-serif;
  font-weight: bold;
  font-size: 14px;
  /* visibility: hidden; */
}

.like:hover {
  background-color: LightGrey;
  border: 5px solid LightGrey;
  border-radius: 5px;
  color: #e60000;
}

.like:active {
  background-color: white;
  border: 5px solid blue;
  border-radius: 5px;
  color: blue;
}

.like:focus {
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
  color: #e60000;
}
